<p class="d-inline-flex gap-1 ">
  <button class="btn btn-outline-success ms-1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    see
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body" >
    <table class="table" >    
      <thead>
        <tr>
          <th>Followers</th>
        </tr>
      </thead>
      <tbody>
        <% user_following.each do |user| %>
          <tr>
            <td><%= User.find(Relationship.find(user.id).follower_id).name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

