<p class="d-inline-flex gap-1 ">
  <p class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Followed
  </p>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body" >
    <table class="table" >    
      <tbody>
        <% user_following.each do |user| %>
          <tr>
            <td><%= User.new.all_followed(user.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

