<p class="d-inline-flex gap-1 ">
  <button class="btn btn-outline-success ms-1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= Post.find(post.id).likes.count %>
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body" >
    <table class="table" >    
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% post.likes.each do |like| %>
          <tr>
            <td><%= User.find(like.user_id).name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

