<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
  <body>
    <p><%= @user.name %> - Your post created </p>
    <p><%= @user.user_name %> your user_name </p>      
  </body>
</html>
